<!DOCTYPE html>
<html>
<head>
    {% set is_index = request.path.strip('/')=='album' %}
    <meta charset="utf8"/>
    <title>{{ 'Albums' if is_index else folder.title }}</title>

    {{ load("pure /template/css/album.scss") }}

    {% if not is_index %}
        {{ load("fonts jquery#1.8.1 knockout") }}
        {{ load('http://maps.google.com/maps/api/js?sensor=true') }}
        {{ load("/template/js/gmaps.js /template/js/album.js") }}
    {% endif %}
</head>
<body>

    {% if is_index %}
        <div class="body_wrap">

            <h1>Albums</h1>

            <div class="home">
                <a href="/">Home</a>
            </div>

            <ul class="albums pure-g-r">
                {% for album in get_data(types='folder', min_images_count=1, level=1, limit=100) %}
                    <li class=" album pure-u-1-3">
                        <a href="/album/{{ album.path }}">
                            <img src="{{ album.url }}?width=120&height=120&fixed=true"/>
                            <span class="title">
                                {{ album.title }}
                            </span>

                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% include "include/paginator.html" %}
        </div>


    {# album viewer #}
    {% else %}
            {% set sub_images = get_data(types='folder+image', path=folder.path, min_images_count=1, level=1, limit=60, pager_name='this_album') %}

            {{ bread_nav(folder.path, prefix='/album', prefix_name='Albums>', split_by='>') }}

            <div class="pure-g-r boxes">
                <div class="pure-u-2-3 map-box">
                    <div class="box-container">
                        <div  id="map"></div>
                    </div>
                </div>


                {% for file in sub_images %}
                    <div class="pure-u-1-3 photo-box">
                        <div class="box-container">
                            {% if file.content_type=='folder' %}
                                <a href="/album/{{ file.path }}">
                                    <img src="{{ file.url }}?width=320&height=214&fixed=true"
                                         alt="{{ file.title }}">
                                    <div class="caption">
                                        <span>
                                            {{ file.title }} <small>({{ file.images_count }})</small>
                                        </span>
                                    </div>
                                </a>
                            {% elif file.is_image %}
                                <a href="#" class="fb-image">
                                    <img src="{{ file.url }}?width=320&height=214&fixed=true"  alt="{{ file.title }}">

                                    <div class="caption">
                                        <b>{{ file.title }}</b>
                                        <span class="image-date">{{ file.date | date('%Y-%m-%d %H:%M') }}</span>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% set paginator=get_paginator('this_album') %}
                {% include "include/paginator.html" %}
            </div>



            <div data-bind="visible: current_window(), template: {name: current_window()}"> </div>

            <script type="text/html" id="image-viewer">
            <div class="image-viewer"><div class="wrap">

                <div class="head">
                    <div class="caption" data-bind="text: current_image().title"> </div>

                    <div class="image-info" data-bind="visible:show_exif(),foreach:exif_list">
                        <span class="exif-field">
                            <span data-bind="text:k"></span>:
                            <span data-bind="text:v"></span>
                        </span>
                    </div>

                    <div class="commands">
                        <a href="#" data-bind="click: show_full"><i class="fa fa-external-link-square"></i></a>
                        <a href="#" data-bind="visible:current_image().exif,click: function(){show_exif(!show_exif())}">
                            EXIF
                        </a>
                        <a href="#" data-bind="click: function(){current_window(null)}">
                            <i class="fa fa-times-circle-o"></i> Close
                        </a>
                    </div>
                </div>

                <div class="connected">
                    <a href="#" class="pre" data-bind="click: pre, visible: has_pre()">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="#" class="next" data-bind="click: next, visible: has_next()">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <div class="body">
                    <div class="image" >
                        <div data-bind="click: next">
                            <img data-bind="attr: {src: current_image().url, alt: current_image().title}" onload="$(this).addClass('loaded')"/>
                        </div>
                    </div>
                </div>



            </div></div>

        </script>



        <script>
            var images ={{ sub_images.json }};
            run_viewer(images);
            draw_map(images);
        </script>



        {% endif %}

{%  include 'include/footer.html' %}




</body>
</html>