<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">

    <link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
    <title>{% block title %}{{ request.args.s or site.title }} {% endblock %}</title>

    {{ load('fonts {{resource_host}}/lib/pure.css {{resource_host}}/site/css/blog.css') }}


    {% block head %}
    {% endblock %}

</head>
<body>

<div class="pure-g-r" id="layout">

    <div class="sidebar pure-u">
        <div id="avatar">
			<a href="/">
				<img class="logo" src="{{ site.avatar }}" alt="{{ site.title }}">
			</a>
		</div>

        <h1 class="brand-title">{{ site.title }}</h1>

        {% from "include/macros.html" import blog_sidebar %}
        {{ blog_sidebar() }}

        <div class="search-bar">
            <input type="text" id='search_value' value="{{ request.args.s }}" onkeyup="if (event.keyCode == 13) search();">
            <a href="javascript:search()">
                <i class="fa fa-search"></i>
            </a>
        </div>

    </div>


    <div class="pure-u-1">
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div class="powered_by">
                <a target='_blank' href="http://www.farbox.com">Powered By FarBox.com</a>
                {% if request.is_login %}
                    <a href="/admin">Admin</a>
                {% else %}
                    <a href="#" onclick="login('/admin')" class="admin">Admin</a>
                {% endif %}
                <a href="/?action=import" target="_blank">Move from WordPress</a>
                <span>©2012-2015 Z.R.E.Y Inc.</span>
            </div>
        </div>

        <script type="text/javascript" src="{{ resource_host }}/site/js/basic.js"></script>

    </div>

</div>

<script type="text/javascript">
    function search(){
            if (document.getElementById('search_value').value){
                location.href='http://'+location.host+'?s='+document.getElementById('search_value').value;
            }
            return false;
        }
</script>


</body>
</html>


