<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }}</title>
    <link href="http://{{ request.host }}/"/>
    <link href="http://{{ request.host }}/feed" rel="self" />
    <id>{{ site._id }}</id>
    {% if posts %}
    <updated>{{ posts[0]['date'].strftime('%Y-%m-%dT%H:%M:%SZ')}}</updated>
    {% endif %}

    {% for post in posts %}
    <entry>
        <title>{{ post.title.escaped }}</title>
        <link href="http://{{ request.host }}{{ post.url }}" rel="alternate" />
        <updated>{{ post.date.format('%Y-%m-%dT%H:%M:%SZ')}}</updated>
        <id>{{ post.url_path }}</id>
        <author>
            <name>{{ site.title}}</name>
        </author>
        <summary type="html">{{ post.content.escaped }}</summary>
    </entry>
    {% endfor %}
</feed>