extends base
block title
	title= request.args.s or tags.join('+') or category.title or site.title

block content
	if request.path.strip('/') == 'category'
		+redirect('/categories')
	else
		include include/posts_list