{% extends 'base.html' %}

{% set is_index = request.path.strip('/')=='tags' %}

{% block title %}{{ "Tags" if is_index else tags.join('+') }}{% endblock %}

{% block content %}
    {% if is_index %}
        {% set entries = get_data(type='post',limit=300, sort='desc').group('tags') %}
        <ul class="list_with_title container">
        {% for tag, posts in entries %}
            <li class="listing_title">{{ tag }}</li>
            <ul class='listing'>
            {% for post in posts %}
                <li class="listing-item">
                    <span class="date">{{ post.date | date("%Y-%m-%d") }}</span>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        {% include 'include/paginator.html' %}

        </ul>

    {% else %}
        <div class="container" id="posts">
            {% include 'include/posts_list.html' %}
        </div>

    {% endif %}


{% endblock %}
