<div id="fb_comments_container">
{%  if site.configs.disqus %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.configs.disqus }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% elif site.configs.duoshuo %}
	<div class="ds-thread"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.configs.duoshuo }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
{% else %}


{% if not site.configs.scripts_per_page and not site.configs.scripts_for_doc and not site.comment_script  %}
    <link rel="stylesheet" href="{{ resource_host }}/css/comment.css?version={{ resource_version }}">
    <ul id="fb_comments">
        {% for comment in comments %}
            <li class="comment">
                <div class="avatar">
                    <img src="/service/static_3rd/avatar/{{ comment.email_md5 }}">
                </div>
                <div class="c_content comment_body">

                    <div class="author">
                        <a href="{{comment.site or '#'}}"><b>{{ comment.author or '匿名'}}</b></a>
                        <small>{{ comment.date }}</small>
                    </div>

                    <div>
                        {{ comment.content }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if is_comment_allowed(context_doc) %}
    <form id="fb_new_comment" method="post" action="#fb_new_comment">

        <textarea name="content">{{ comment_content }}</textarea>

        {% if error %}<span class="comment_error"> {{ error }}</span> {% endif %}

        <div class="input_body">
            <ul>
                {% if not request.is_login %}
                <li>
                    <label>Name:</label>
                    <input type="text" name="author" id="c_author">
                </li>
                <li>
                    <label>Email:</label>
                    <input type="text" name="email" id="c_email">
                </li>
                <li>
                    <label>Site:</label>
                    <input type="text" name="site" id="c_site">
                </li>
                {% endif %}
                <li>
                    <input type="submit" value="Comment" class="c_button" id="c_submit"/>
                </li>

            </ul>

        </div>

    </form>


    {% if not request.is_login %}
    <script src="http://resource.farbox.com/swfstore/swfstore.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var c_submit = document.getElementById('c_submit');
        var c_author = document.getElementById('c_author');
        var c_email = document.getElementById('c_email');
        var c_site = document.getElementById('c_site');

        c_submit.onclick = function(){
            info_store.set('name', c_author.value);
            info_store.set('email', c_email.value);
            info_store.set('site', c_site.value);
        };
        var info_store = new SwfStore({
            namespace: 'farbox',
            swf_url: 'http://resource.farbox.com/swfstore/storage.swf',
            debug: true,
            onready: function(){
                c_author.value = info_store.get('name') || '';
                c_email.value = info_store.get('email') || '';
                c_site.value = info_store.get('site') || '';

            },
            onerror: function(){
            }
        });

    </script>
    {% endif %}

    {% endif %}

{% elif site.comment_script %}
    {{ site.comment_script }}
{% else %}
<!--scripts_for_doc-->
{% endif %}

{% endif %}
</div>


