{% macro blog_sidebar() %}
    <ul class="nav">
        {% if site.images_count %}
            <li>
                <a href="/album">Albums</a>
            </li>
                {% if not has('posts') %}
                    {{ redirect('/album') }}
                {% endif %}
        {% endif %}
        {% if has('categories') %}
            <li>{{ a_with_selected('/category', 'Categories') }}</li>
        {% endif %}
            <li>{{ a_with_selected('/archive', 'Archive', equal=True) }}</li>
        {% if site.tags %}
            <li>{{ a_with_selected('/tags', 'Tags') }}</li>
        {% endif %}
        {% if has('about.md') %}
            <li>{{ a_with_selected('/about.md', 'About') }}</li>
        {% endif %}

        <li> <a href="/feed">RSS</a> </li>
        <li><a href="#" onclick="new_post();return false">Write!</a></li>
    </ul>

    <ul class="my-socials">
        {% set socials=['twitter', 'weibo', 'facebook', 'instagram', 'quora', 'github'] %}
        {% for social in socials %}
            {% if site.configs.social %}
        <li >
            <a href="{{ get_social_url(social, site.configs.social) }}" class="{{ social }}" target="_blank">
                <i class="fa fa-{{ social if social!='quora' else 'question' }}"></i>
            </a>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}