{% macro blog_sidebar() %}
    <ul class="nav">
        {% if has("images") %}
            <li>
                <a href="/album">Albums</a>
            </li>
                {% if not has('posts') %}
                    {{ redirect('/album') }}
                {% endif %}
        {% endif %}
        {% if has('categories') %}
            <li>{{ a_with_selected('/category', 'Categories') }}</li>
        {% endif %}
        {% if has('posts') %}
            <li>{{ a_with_selected('/archive', 'Archive') }}</li>
        {% endif %}
        {% if site.tags %}
            <li>{{ a_with_selected('/tags', 'Tags') }}</li>
        {% endif %}
        {% if has('about.md') %}
            <li>{{ a_with_selected('/about.md', 'About') }}</li>
        {% endif %}

        <li> <a href="/feed">RSS</a> </li>
    </ul>

{% endmacro %}