$social-button-size: 50px;
$nav-button-size: 50px;
$content-high-color: #099;
$font-color: #333;

.default-transition {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}


body {
    font-family: serif;
    color: #444;
    background: #fdfdfd;
    -webkit-text-size-adjust: none;


}

b, strong{
    color: #222;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $content-high-color;

    &:hover, &:focus {
        text-decoration: underline;
        color: $content-high-color;
    }
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    border-right: 1px solid #eee;
    text-align: center;
    overflow: hidden;

    #avatar {
        margin: 30px auto;
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid #f4f4f4;

        &:hover{
            border-color: darken(#f4f4f4, 10%)
        }

        img.logo {
            position: absolute;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            left: 50%;
            top: 50%;
            margin-top: -40px;
            margin-left: -40px;
        }
    }

    h1 {
        margin: 0 1em;
        text-align: center;
        line-height: 1.2em;
        text-transform: uppercase;
    }

    .nav{
        display: inline-block;
        list-style: none;
        margin: 20px  25px 0 25px;
        padding: 0;

        li{
            float: left;
            margin:7px;

            a{
                border-radius: 5px;
                font-size: 12px;
                font-family: Arial;
                color: #666;
                padding: 3px 7px;
                background: #efefef;

                &:hover, &.selected{
                    text-decoration: none;
                    background: $content-high-color;
                    color: #fff;
                }
            }
        }
    }

    .search_bar{
        position: absolute;
        bottom: 10px;
        width: 100%;

        opacity: 0.3;

        &:hover{
            opacity: 1;
        }

        input{
            font-size: 12px;
            padding: 5px;
        }


        a{
            padding: 5px;
            &:hover{
                text-decoration: none;
                color: #fff;
                background: $content-high-color;

            }
        }
    }
}

#main {
    padding: 0 3.5em;



    /* for archive and tags*/
    .list_with_title {
        padding: 0;
        margin: 35px auto 0 auto;
        font-size: 16px;

        li {
            list-style-type: none;
            padding: 0;
        }

        .listing_title {
            font-weight: bold;
            line-height: 2.2em;
            font-size: 1.4em;
            color: #555;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .listing {
            margin: 0 0 50px 0;
            padding: 0;

            li {
                line-height: 3.2em;
                border-bottom: 1px solid #ddd;
                position: relative;
                padding: 0 5px;
                text-align: left;
                font-weight: normal;
                *font-size: 16px;

                a{
                    color: #555;
                    text-decoration: none;
                    @extend .default-transition;

                    &:hover{
                        color: $content-high-color;
                    }
                }
            }
        }


        .date {
            position: absolute;
            right: 5px;
            color: #999999;
            font-size: 14px;
        }
    }

    .posts, .detail_post {
        margin: 45px auto;
    }

    .detail_post .post{
        margin-bottom: 3em;
    }

    .post {
        line-height: 1.9;
        margin-bottom: 8em;
        font-size: 16px;

        .title {
            font-size: 2.2em;
            line-height: 1.2em;
            padding: 0.5em 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-bottom: 1.5em;
            a{
                color: #222;
                text-decoration: none;
                @extend .default-transition;
                &:hover{
                    color: $content-high-color;
                }
            }
        }

        @media screen and (max-width: 480px) {
            .title{
                font-size: 1.8em;
            }

        }

        p{
            margin-bottom: 0.6em;
        }

        h1, h2 {
            font-weight: 400;
            line-height: 1.25;
        }

        .post_body{
            h2{
                margin: 1.6em 0 0.83em 0;
            }
            h3, h4{
                margin: 1.2em 0 0.53em 0;
            }
        }

        .info {
            font-family: 'Arial';
            color: lighten($font-color, 20%);
            font-size: 0.7em;
            position: relative;
            text-align: right;
            margin-top: 35px;

            line-height: 2em;


            a {
                font-size: 0.9em;
                padding: 2px;
                margin-right: 5px;
                @extend .default-transition;

                &:hover {
                    color: white;
                    text-decoration: none;
                    background: $content-high-color;

                    i {
                        color: #fff;
                    }
                }

            }

            span {

                margin-right: 20px
            }

            .tags {
                display: inline-block;
                margin: 0 10px 0 0;
            }

            .read_more{
                margin-left: 10px;
            }

            .other_posts{
                font-size: 16px;
                margin-bottom: 15px;
                position: relative;
                display: block;
                height: 25px;

                .pre{
                    position: absolute;
                    left: 0;
                    padding: 0 5px;
                }
                .next{
                    position: absolute;
                    right: 0;
                    padding: 0 5px;
                }
            }




        }



    }


    /* for categories*/

    #categories{
        list-style:none;
        display:block;
        text-align:center;

        clear: both;
        padding: 0;
        margin-top: 50px;

        a{
            text-decoration: none;
        }

        li{
            font-size:16px;
            vertical-align:top;
            display:inline-block;
            *display:inline;

            text-align:left;

            position: relative;

            h3{
                font-size: 1.2em;
                word-wrap:break-word;
                overflow:hidden;
                font-weight: normal;
            }

             span{
                color: #999;
                font-size: 0.8em;
            }

            a{
                margin: 20px;
                width: 220px;
                float: left;
                height: 300px;
                background: #fff;
                border: 1px solid #c8c8c8;
                padding: 60px 30px;

                &:hover{
                    border: 1px solid #b7b7b7;
                    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
                    box-shadow: 0 1px 5px rgba(0,0,0,0.2);

                     h3{
                        padding-left: 2px;
                    }
                }
            }
        }

    }


}

hr {
    margin: 2.2em 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

#fb_new_comment{
    input{
        font-size: 12px;
    }
}

.toc{
    line-height: 1.7;
    border: 1px solid #eee;
    li{
        ul{
            margin: 0;
            padding-top: 0;
        }
    }
}



.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;

        h1 {
            top: auto;
            position: static;
        }

        .nav{
            margin: 20px 80px 50px 80px;
        }

        .my-socials {
            display: none;
        }
    }

    #layout {
        padding: 0;
    }

    #main{
        padding: 0 2.5em;
    }
}

@media (max-width: 480px) {
    #main{
        padding: 0 1em;
    }
}






.clear{
    clear: both;
    width: 0;
    height:0;
}

/*footer starts*/
#footer {
    margin: 80px 0 30px 0;
    text-align: center;
    font-size: 11px;
    height: 1em;
    font-family: Arial;
    color: #ccc;

    overflow: hidden;


    a {
        color: #bdbdbd;
        margin: 0 10px;

        &:hover {
            text-decoration: none;
            color: $content-high-color;
        }
    }

    a.admin{
        color: darkred;
        font-weight: bold;
    }

    .powered_by {
        margin-bottom: 20px;
        text-align: center;

        span {
            font-size: 9px;
            padding: 0 15px;
        }
    }

}




.round {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        display: block;

    }

    /* paginator */
    .pager {
        position: relative;
        height: 57px;
        margin: 50px 0 0 0;

        a {
            height: 57px;
            width: 57px;
            line-height: 57px;

            color: #333;
            letter-spacing: 1px;
            font-size: 12px;
            text-decoration: none;

            text-align: center;
            border: 1px solid #d3d3d3;

            @extend .default-transition;

            &:hover {
                color: #fff;
                background: $content-high-color;
            }
        }

        .next {
            position: absolute;
            right: 0;
        }

        .pre {
            position: absolute;
            left: 0;
        }
    }


/* for fb comment*/

#fb_comments_container {
    /*width: 100%;*/
    overflow: hidden;
    /*margin: 20px 0 auto auto;*/

    #fb_comments {
        list-style-type: none;
        padding: 0;

        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1.1em;
        }
        h4, h5, h6 {
            font-size: 1.05em;
        }

        .comment {
            position: relative;
            padding: 25px 0;
            border-bottom: 1px solid rgba(150, 150, 150, 0.2);
            *border-bottom: 1px solid #f0f0f0;

            .avatar {
                position: absolute;
                top: 25px;
                left: 0;
                width: 50px;
                float: left;

                img {
                    width: 48px;
                    border: none;
                    border-radius: 5px;
                    margin: 0;
                }

            }

            .comment_body, .c_content {
                margin-left: 70px;
                display: block;

                p {
                    margin: 5px 0 15px 0;
                    padding: 0;
                    line-height: 1.8;
                }

                .author {
                    line-height: 1.5em;
                    margin: 0;
                    padding: 0;

                    b {
                        color: #555;
                    }
                    small {
                        font-weight: normal;
                        padding-left: 10px;
                        font-size: 0.7em;
                        color: #666;
                    }
                }

            }
        }

    }

}

#fb_new_comment {
    padding-bottom: 50px;

    textarea {
        border-radius: 5px;

        height: 80px;
        width: 98%;
        /*margin: 20px auto 0 auto;*/
        padding: 5px;
        font-size: 1em;
        border: 1px solid rgba(150, 150, 150, 0.5);
        *border: 1px solid #a8a8a8;
        line-height: 1.5;
    }

    .comment_error {
        color: red;
        text-align: center;
        display: block;
        font-size: 0.8em;
        padding-top: 1em;
    }

    .c_button:hover {
        background: #E60900;
        color: #fff;
        text-decoration: none;
    }

    .c_button, #c_submit {
        cursor: pointer;
        font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
        font-size: 1em;
        line-height: 1.3em;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 5px 5px 2px 5px;
    }

    .input_body {
        margin-top: 10px;

        ul {
            list-style: none;
            padding: 5px 0;
            margin: auto 0;

            li {
                float: left;
                margin-right: 2.2%;
                /*for IE7*/
                *margin-right: 22px;

                label {
                    line-height: 1em;
                }

                input {
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.5);
                    margin: 0 0 10px 0;
                }
            }
        }

    }

}

#SwfStore_farbox_0 {
    height: 0;
    overflow: hidden;
}

/*iphone*/
@media screen and (max-width: 320px) {
    #fb_comments {
        .c_content, .comment_body {
            margin-left: 57px;
        }

    }
}





hr {
    margin: 2.2em 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

h1, h2, h3{
    font-weight: normal;
    color: #333;
}

h4{
    color: #333;
}

h1{
    line-height: 1.5em;
    margin-top: 1.2em;
}

h2, h3{
    line-height: 1.5em;
    margin-top: 1.5em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em
}

ul, ol {
    line-height: 2.1;
}

ul{
    padding: 5px 38px;
}

ul p, ol p{
    overflow: visible;
}

#content ul p, #content ol p{
    overflow: visible;
}

#posts .post ul p, #posts .post ol p{
    overflow: visible;
}

img{
    border: none;
}

ul li{
    padding: 0;
    margin: 0;
    line-height: 2.1em;
}


blockquote {
    border-left: 0.4em solid #DDD;
    color: #777;
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 1em 0;
    padding-left: 1.5em;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-left: 0;
    margin: 20px 0;

}

th, td {
    border-left: 1px solid #dddddd;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.p_part {
    margin: 15px 0;
}

code {
    border: 1px solid #e0e0e0;
    background: #F8F8F8;
    padding: 0 5px;
    margin: 0 2px;
    font-family: Menlo, monospace;
}

pre {
    border: 1px solid #e0e0e0;
    margin: 1.2em -2px;
    padding: 15px 20px;
    font-size: 13px;
    font-family: Menlo, monospace;
    line-height: 1.8em;
    display: block;
    overflow: auto;
    background: #F8F8F8;
    letter-spacing: 0;
}

pre p {
    margin: 0;
}

pre br {
    display: none;
}

pre code {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

/*pygments*/

table.codehilitetable {
    border: none;
    margin: 0;
}

.codehilitetable td {
    border: none;
    padding: 0;

}
.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
/* .err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */
